---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const pageTitle = "My Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Here is a bunch of basic sample content to show that a blog functionality is
    working
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
